<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>

<%- include(views+'/head.html') %>
	<script type="text/javascript" src="index.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>

<%- include(views+'/pre.html') %>

<div id="controls" class="flex">
	<div class="bubble inline">
		<div class="space">
			<button id="door"></button>
			<button id="leave">Leave</button>
			<button id="new">Next Round</button>
		</div>
		<div class="space">
			<span>Num Teams: </span>
			<input id="num_teams" class="control_number" type="number" autocomplete="off" value="2">
		</div>
		<div class="space">
			<span>Num Words: </span>
			<input id="num_words" class="control_number" type="number" autocomplete="off" value="20">
		</div>
	</div>
</div>

<div id="games"></div>

<%- include(views+'/post.html') %>
