<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>

<%- include(views+'/head.html') %>
	<script type="text/javascript" src="index.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<%- include(views+'/pre.html') %>

<div id="global_controls" class="bubble inline">
	<div>
		<p>Players:</p>
		<div id="players" class="bubble inline"></div>
	</div>
	<div class="space">
		<button id="door"></button>
		<button id="leave">Leave</button>
	</div>
	<div class="space">
		<span>Num Teams: </span>
		<input id="num_teams" class="control_number" type="number" autocomplete="off" value="2">
	</div>
	<div class="space">
		<span>Num Words: </span>
		<input id="num_words" class="control_number" type="number" autocomplete="off" value="20">
	</div>
</div>


<div id="game_controls_div"></div>
<div class="bubble inline">
	<button id="new">Next Round</button>
</div>
<div id="games"></div>

<%- include(views+'/post.html') %>
